<div class="hero-section">
    <div class="hero-banner">
      <img src="https://img.freepik.com/free-vector/manage-money-concept-illustration_114360-8019.jpg?ga=GA1.1.240181792.1733461091&semt=ais_hybrid" alt="Expense Tracker Banner">
    </div>
    <div class="hero-content">
      <h1>Track Your Expenses Easily</h1>
      <p>Manage your daily expenses efficiently and stay in control of your finances.</p>
      <div class="buttons">
        <button routerLink="/add-expense">Add Expense</button>
        <button routerLink="/expenses">View Expenses</button>
      </div>
    </div>
  </div>
  