h2{
    margin: 15px;
}
 /* Form Styling */
 form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    background: #af4ca5;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background: #aa2daa;
  }
  